.wrapper{
  width: 100%;
  height: 589px;
  background: url("https://images.pexels.com/photos/1181403/pexels-photo-1181403.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat fixed center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form{
  opacity: 0.5;
  background-color: black;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 50%;
  color: white;
  border-radius: 8px;
}
button{
cursor: pointer;
  border-radius: 5px;
  padding: 8px;
}
input{
  font-size: large;
  padding: 8px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}